circle{
    stroke: darkslategray;
}
#tooltip{
    border: 1px solid black;
    border-radius: 6px;
    position: absolute;
    display: none;
    padding: 6px;
    background-color: royalblue;
    width: 100px;
    font-size: 12px;
}
#app{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
line{
    stroke: darkslategray;
}
text{
    fill:black;
    text-anchor: end;
}